.block {
  background: #000;
  border-radius: 8px;
  padding: 14px 16px;
}

.label {
  font-size: 10px;
  font-weight: 600;
  letter-spacing: .1em;
  color: #B8952A;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.text {
  font-size: 13px;
  color: #fff;
  line-height: 1.6;
}
